# 숨김파일
.DS_Store

# yaml 파일
admin_info.yaml

# js 파일
admin_back.js
admin_back2.js
json_test.js

# py 파일
#product_get.py
python_test.py

# 폴더
python3/
nodejs/
oz_project/crawling/
oz_project/Admin페이지만들기/json_data/