.paging{width:100%;text-align:center;}
.paging > a{text-decoration:none;border:1px solid #555555;padding:5px;margin:0;}

.date{float:right;margin-top:-50px;text-align:right;width:100%;clear:both;overflow:hidden;margin-bottom:20px;}
.date > span{font-size:12px;line-height:1.2;color:#888888;}

.table_top{width:100%;margin-top:30px;}
.left{float:left;width:30%;}
.left > select{width:40%;float:left;}
.right{float:right;width: 70%;}
.del_area{width:100%;margin-top:30px;overflow:hidden;}

.author_link{width:100%;overflow:hidden;}
.git_link{text-decoration:none;text-align:right;width:100%;font-size:20px;display:block;color:#555555;}

table th{text-align:center;}
table td:nth-child(1){text-align:center;width:5%;}
table td:nth-child(2){text-align:center;width:10%;}
table td:nth-child(3){text-align:center;width:10%;}
table td:nth-child(4){text-align:center;width:15%;}
table td:nth-child(5){padding-left:10px;padding-right:10px;}
table td:nth-child(5) > span{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;word-break: break-all;width: 90%;display: inline-block;}
.product_link{float:right;text-decoration:none;border:1px solid #555555;padding:2px 3px;color:#555555;font-size:12px;}
table td:nth-child(6){text-align:right;padding-left:10px;padding-right:10px;width:10%;}
table td:nth-child(7){text-align:center;width:10%;}